.bio {
  border: grey;
  border-radius: 10px;

}

.padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:  10px;
}
.visible {
  display: inline;
}
.invisible {
  display: none;
}
