.soundcloud {
  width: 100%;
  display: inline;
  position: relative;
  top: 0px;
  left: 0px;
}
.background {
  display: inline;
  height: auto;
  width: auto;
}
.visible {
  display: inline;
}
.invisible {
  display: none;
}

#frame1 {
  margin-bottom: 10px;
  height: 100px
}

#frame2 {
  margin-bottom: 10px;
  height: 100px;
}

#frame3 {
  margin-bottom: 10px;
  height: 100px;
}

