.cover-photo {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.background {
  display: inline;
  height: auto;
  width: auto;
}

#social {
  position: absolute;
right: 0;
  top: 250px;
  z-index: 1;
}

#bground {
  z-index: -1;
}
